

<ion-content [fullscreen]="true">
   <div class="container">
      <img src="assets/logo.svg" alt="Moio">
   </div>
   <div class="login">
     <h1>Faça seu login</h1>
     <ion-input fill="outline" type="text" placeholder="exemplo@email.com" label="email"  label-placement="floating">

     </ion-input>
     <br>
     <ion-input fill="outline" type="password" placeholder="senha" label="password"  label-placement="floating">

     </ion-input>
     <ion-button>
        acessar conta
     </ion-button>
   </div>
</ion-content>
