

<ion-content [fullscreen]="true">
   <div class="container">
      <img src="assets/logo.svg" alt="Moio">
   </div>
   <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="login">
     <h1>Faça seu login</h1>
     <ion-input fill="outline" type="text" placeholder="exemplo@email.com" label="email"  label-placement="floating"  formControlName="email">
     </ion-input>
    
     <br>
     <ion-input fill="outline" type="password" placeholder="senha" label="password"  label-placement="floating"  formControlName="password">

     </ion-input>
     <ion-button type="submit" [disabled]="loginForm.invalid">
        acessar conta
     </ion-button>
   </form>
</ion-content>
