ion-menu ion-content{
  --background:var(--ion-background-second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  ion-list{
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    background: none;
    ion-menu-toggle ion-item{
      --background: none;
    }
    ion-item.selected {
      --color: var(--ion-color-primary);
    }
  }
  
}
