
<ion-content [fullscreen]="true">
    <div class="header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
      <img src="assets/logo.svg" alt="Moio">
    </div>
    <div class="container">
      <ion-searchbar placeholder="Pesquisar">

      </ion-searchbar>
      <h1>Permissões</h1>
      <ion-button>
        Criar Nova permissão
      </ion-button>
      <div class="tabelaPermissoes">
        <div class="data">
          <p>Nome</p>
          <p>Status</p>
          <p>Actions</p>
        </div>
        <ion-list *ngFor="let user of this.users">
          <ion-item>
            <ion-label>
              {{user.name}}
            </ion-label>
            <ion-chip>
              {{user.status}}
            </ion-chip>
            <div class="icons">
              <ion-icon name="create-outline"></ion-icon>
              <ion-icon name="trash-outline"></ion-icon>
            </div>
            

          </ion-item>
        </ion-list>
        <div class="pages">
          <p>Anterior</p>
          <p>Proximo</p>
        </div>
      </div>
    </div>
</ion-content>
